<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		<% preact.title %>
	</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="color-scheme" content="light dark">
	<meta name="theme-color" content="#222222" media="(prefers-color-scheme: dark)">
	<meta name="theme-color" content="#D4E5F5">
	<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
	<% preact.headEnd %>
</head>

<body>
	<a href="#main" class="visually-hidden skip-to-content">Skip to content</a>
	<% preact.bodyEnd %>
</body>

</html>